$adventure_size: 1120px / 2 - 15px;

.adventure-grid {
  margin: 50px auto;
  width: 1120px;
}

.adventure-post {

    min-width: $adventure_size;
    min-height: $adventure_size;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;

    .wp-post-image {
      width: auto;
      max-width: none;
      height: $adventure_size;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

  .button {

    font-size: 1.2rem;
  }

}

// create an overlay to darken the images
.adventure-wrapper:after{

    @include overlay;
}

.adventure-info h2 {

  font-size: 3rem;
  margin-bottom: 5%;
}

//single adventure pages


.adventure-header {

  img {
    width: 100%;
    height: auto;
    }
  }

  .adventure-container {
    width: 800px;
    margin: 20px auto;
  }

  .adventure-title {
    font-weight: bold;
    font-size: 3rem;
  }

  .entry-meta {
    font-family: $font__header;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
