/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/


.comments-area {

  h2, h3 {
    text-transform: uppercase;
  }

  ol {
  	margin: 0;
  	padding: 0;
  }
}

.comment-body {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

  .comment-author-avatar {
    float: left;
    width: 75px;
  }

  .comment-meta, .comment-content {
    margin-left: 75px;
    padding-left: $base__space-unit;
  }

  .comment-content {
    padding-bottom: $base__space-unit;
    border-bottom: $border__solid;
  }

.avatar {
  border-radius: 50%;
}


.comment-form {
  label {
    display: block;
  }

  input[type=text], input[type=email], input[type=url] {
    width: 100%;
  }
}
.comment-form-author, .comment-form-email {
  width: 49%;
  float: left;
}

.comment-form-email {
  margin-left: 2%;
}

.comment-form-url {
  width: 100%;
}
