/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: $color__brand-main;
	color: #fff;
	@include font-size(0.9);
	line-height: 1;
	padding: .75em 1.5em;
	box-shadow: none;
	text-transform: uppercase;
	font-family: $font__header;
	font-weight: normal;
	&:hover {

	}

	&:active,
	&:focus {
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: $border__solid;
	background: #F4F4F4;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/* Labels */

form label, .wpcf7-form p{
	text-transform: uppercase;
	font-family: $font__header;
}

span.required {
	color: $color__brand-secondary;
}

/* Header Search */

.header-search fieldset {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
}

  .header-search input[type=search] {
    line-height: 1;
    display: none;
    border: none;
    background: transparent;
		font-family: $font__header;
		color: $color__brand-pale;
		font-size: 1rem;

  }

	.header-search input::-webkit-input-placeholder {
		color: $color__brand_pale;
	}
