/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/

.site-header {

  @include transparent-header;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
}

.site-branding {

  h1 {
    height: 33px;
    width: 50px;
    margin: 0;
    background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
    background-size: 50px 33px;
    overflow: hidden;
    text-indent: 100%;
  }
}

// Header on pages that have full-screen hero images

.home, .page-template-about, .single-adventure {
  .site-header  {
    position: absolute;
    z-index: 3;
    background-color: transparent;
    width: 100%;
    border-bottom: none;

  }

  .site-branding {
    h1 {
      background: url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
      background-size: 50px 33px;
    }
  }

  .transparent-header {
    @include transparent-header;

    h1 {
      @include transparent-header-h1;
    }

    .main-navigation a {
      color: $color__link;

      &:hover {
        color: $color__link-hover;
      }
    }
  }
}

.home, .page-template-about, .single-adventure {

  .main-navigation a{
    color: #fff;

    &:hover {
      color: $color__brand_pale;
    }
  }

}

// move site header below admin bar when logged in, toggled in js/header-scroll.js

.logged-in .site-header {
  top: 31px;
}
