
.site-header {

  padding: 15px 0;
  border-bottom: $border__solid;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
}

.site-branding {

  h1 {
    height: 33px;
    width: 50px;
    margin: 0;
    background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
    background-size: 50px 33px;
    overflow: hidden;
    text-indent: 100%;
  }
}

.home, .page-template-about, .single-adventure {
  .site-header  {
    position: absolute;
    z-index: 3;
    background-color: transparent;
    width: 100%;
    border-bottom: none;

  }

  .site-branding {
    h1 {
      background: url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
      background-size: 50px 33px;
    }
  }
}


// Search Field in Header

.header-search fieldset {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
}

  .header-search input {
    line-height: 1;
    display: none;
    border: none;
    background: transparent;

    &::-webkit-input-placeholder {
   color: $color__brand_pale;
    }
  }
