/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* About Page */

.about-header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
  }
}

.page-template-about .entry-content {
  width: 800px;
  margin: 3rem auto;

  h2 {
    text-align: center;
  }
}

/* Pages with SideBars */

.blog, .single-post, .page-template-default:not(.home), .search-results, .error404 {

  .site-content {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 63px;

  }

  .content-area{
    width: 73%;
    padding-right: 5%;
    border-right: $border__solid;
    padding-top: 40px;
  }

  .widget-area {
     width: 25%;
     padding-top: 40px;
     padding-left: 3%
   }

}

/* Pages with out a sidebar and without a header image */

.post-type-archive {
  .site-content {
    margin-top: 63px;
  }
}


/* 404 Page */

.error404 {

  fieldset {
    border: none;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
}
