/*--------------------------------------------------------------
# Adventure Custom Posts
--------------------------------------------------------------*/


$adventure_size: $container__wide / 2 - 15px;

.adventure-grid {
  margin: 50px auto;
  width: $container__wide;
}

.adventure-post {

    min-width: $adventure_size;
    min-height: $adventure_size;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;

    .wp-post-image {
      width: auto;
      max-width: none;
      height: $adventure_size;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

  .button {

    font-size: 1.2rem;
  }

}

// create an overlay to darken the images
.adventure-wrapper:after{

    @include overlay;
}


//single adventure pages

.adventure-header {

  img {
    width: 100%;
    height: auto;
    }
}

.adventure-container {
  width: $container__narrow;
  margin: 20px auto;
}

.adventure-title {
  font-weight: bold;
  font-size: 3rem;
}

.single-adventure .entry-meta {
  font-family: $font__header;
  text-transform: uppercase;
  font-size: 1.2rem;
}
