.login h1 a{
  width: 100%;
  background-image: url(./images/logos/inhabitent-logo-text-dark.svg);
  background-size: contain;
}

.wp-core-ui .button-primary
 {
  background-color: #248A83;
  border: #248A83;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background-color: #248A83;
  border: #248A83;
}
